* {
    box-sizing: border-box;
}

:root {
    --header-color: #fff;
    --primary-color: #152427;
    --secondary-color: #143c3c;
    --third-color: #e2eddf;
    --title-color: #152427;
    --desc-color: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.6rem;
}

/* Common */

a {
    text-decoration: none;
}

a:active {
    color: inherit;
}

.btn {
    min-width: 173px;
    line-height: 57px;
    border-radius: 40px;
    border: 1.5px solid var(--secondary-color);
    background: var(--secondary-color);
    padding: 0 8px;

    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.container {
    /* width: 1140px; */
    max-width: 1140px;
    margin: 0 auto;
}

.desc {
    color: var(--desc-color);
    font-family: Poppins;
    font-weight: 500;
}

.desc-level-1 {
    font-size: 1.4rem;
    line-height: 1.71;
}

.desc-level-2 {
    font-size: 1.6rem;
    line-height: 1.62;
}

.desc-level-3 {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    line-height: 1.55;
}

.line {
    margin-left: 4px;
    margin-bottom: 9px;
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--title-color);
}

.title {
    position: relative;
    margin-left: 46px;
    color: var(--title-color);
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -21px;
    transform: translateY(-50%) translateX(-100%);
    width: 25px;
    height: 1px;
    background: var(--title-color);
}

.section-heading {
    position: relative;
    color: var(--title-color);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.section-desc {
    margin-top: 20px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.row {
    display: flex;
    align-items: center;
}

/* Header */
.header {
    height: 100vh;
    padding: 28px 24px 0;
    background-color: var(--header-color);
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar__logo {
    color: var(--header-color);
}

.navbar__list {
    display: flex;
    margin-left: auto;
}

.navbar__link {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    padding: 8px 19px;
    color: #575d5e;
}

.active {
    color: #152427;
}

.active::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 16px;
    height: 2px;
    background-color: var(--secondary-color);
}

.navbar__cta {
    margin-left: 69px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__info {
    width: 393px;
}

.hero__heading {
    width: 368px;
    font-size: 4.9rem;
    font-weight: 800;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
}

.hero__row {
    margin-top: 42px;
}

.hero__video {
    margin-left: 36px;
    border: none;
    background-color: var(--header-color);
    padding: 0;
    cursor: pointer;
}

.hero__video:hover .hero__video--border {
    transform: rotate(135deg);
}

.hero__video:hover .hero__video--text {
    opacity: 0.8;
}

.hero__video--border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    transform: rotate(-45deg);
    transition: 0.5s;
    border: 4px solid;
    border-radius: 50%;
    border-color: var(--secondary-color) transparent transparent
        var(--secondary-color);
}

.hero__video--round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    transform: rotate(45deg);
    border-radius: 50%;
    background-color: #83a17d;
}

.hero__video--text {
    margin-left: 8px;
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero__images {
    position: relative;
    margin-top: 60px;
    margin-right: 23px;
    display: flex;
    /* gap: 20px; */
    width: 646px;
    height: 543px;
}

.hero__eclipse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}
.img-block {
    margin-right: 20px;
    flex: 1;
    position: relative;
    height: 466px;
}

.img-block:nth-of-type(2) {
    align-self: flex-end;
}

.img-block:last-of-type {
    margin-right: 0;
}

.img-block__item {
    width: 100%;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.icon-first__head {
    position: absolute;
    transform: translateX(-100%) rotate(9.392deg);
    left: -136px;
    top: -29px;
}
.icon-first__body {
    position: absolute;
    left: -172px;
    top: -32px;
}

.icon-second__head {
    position: absolute;
    transform: translateX(-100%) rotate(-174.659deg);
    right: -63px;
    bottom: -64px;
}
.icon-second__body {
    position: absolute;
    transform: rotate(175.95deg);
    left: 31px;
    bottom: -87px;
}

/* Logo sponsor */
.logo {
    margin: 42px 0;
}

.logo__sponsor {
    font-family: "Poppins", sans-serif;
    border-radius: 999px;
    background-color: var(--third-color);
    padding: 85px 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__sponsor-item {
    display: flex;
    align-items: center;
}

.logo__sponsor--google {
    color: var(--secondary-color);
    font-size: 3.1rem;
    font-weight: 500;
}

.logo__sponsor--slack {
    color: var(--secondary-color);
    font-size: 3.2rem;
    font-weight: 600;
}

.logo__sponsor--agworld {
    margin-left: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.logo__sponsor--riotinto {
    color: var(--secondary-color);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__sponsor--heroku {
    margin-left: 14px;
    color: var(--secondary-color);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Service */
.service {
    margin-top: 32px;
    padding-top: 32px;
}

.service__heading {
    margin-top: 12px;
    width: 520px;
}

.service__action {
    gap: 17px;
    margin: 25px 76px 0 auto;
}

.service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background-color: var(--third-color);
    color: var(--primary-color);
}

.service__btn:first-child {
    transform: rotate(180deg);
}

.service__btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--secondary-color);
}

.service-list,
.blog-list {
    margin-top: 76px;
    display: flex;
    gap: 16px;
}

.service-item {
    flex: 1;
    height: 477px;
}

.service-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    cursor: pointer;
}

.service-item:hover .service-item__title,
.service-item:hover .service-item__desc {
    transition: 0.5s;
    margin-left: 18px;
}

.service-item__thumb,
.blog-item__thumb {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__title {
    margin-top: 24px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    margin-top: 18px;
    width: 268px;
}

/* About */
.about {
    margin-top: 149px;
}

.about__images {
    position: relative;
    display: flex;
    width: 591px;
    height: 557px;
}

.about__img-block:first-of-type {
    align-self: flex-end;
}

.about__img-block:last-of-type {
    margin-left: 21px;
}

.about__img-item {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__icon-head {
    position: absolute;
    transform: rotate(176.985deg);
    left: 46px;
    top: -32px;
}

.about__icon-body {
    position: absolute;
    bottom: 172px;
    left: 50px;
    transform: rotate(12.645deg);
    stroke-width: 1px;
    stroke: #000;
}

.about-row {
    align-items: normal;
}

.card {
    position: absolute;
    bottom: -8px;
    right: -9px;
    width: 143px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.card_info {
    padding: 19px 23px 11px;
}

.card__title {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.card__desc {
    margin-top: 6px;
    opacity: 0.4;
    color: #575d5e;
    font-size: 1rem;
    line-height: 1.4;
}

.card__percent {
    display: flex;
    margin-top: 10px;
    color: var(--primary-color27);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.card__line {
    position: relative;
    margin-top: 3px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.card__line--green {
    position: absolute;
    width: 40%;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.card__loading,
.card__team {
    margin-top: 3px;
    text-align: right;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.card__row {
    margin-top: 5px;
    justify-content: space-between;
}

.card__avt {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.card__avt {
    margin-left: -6px;
}

.about__info {
    width: 485px;
    margin-left: auto;
}

.about__title {
    line-height: 1.12;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    color: #7d8188;
}

.about__percent {
    margin-right: 24px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about__row {
    margin-top: 36px;
    margin-bottom: 58px;
    position: relative;
}

.about__row:last-of-type {
    margin-bottom: 0;
}

.about__row::after {
    position: absolute;
    bottom: -20px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #83a17d;
}

/* Process */
.process {
    padding: 36px 0;
    margin-top: 79px;
}

.process_title {
    display: inline-block;
}

.process__heading {
    margin-top: 20px;
    width: 490px;
}

.process__list {
    margin-top: 81px;
}

.process__item {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.25s;
    border-radius: 33px;
    height: 185px;
    background: #fff;
}

.process__item::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    height: 3px;
    width: 100%;
}

.process__item:hover {
    background: var(--third-color);
}

.process__item:hover::after {
    display: none;
}

.process__item:hover .process__learn-more {
    display: block;
}

.process__item:hover .process__desc {
    display: none;
}

.process__item:hover .process__img {
    display: inline-block;
}

.process__index {
    margin-left: 30px;
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

.process__info {
    margin-left: 64px;
}

.process__title {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process__learn-more {
    display: none;
    margin-top: 22px;
    color: #575d5e;
    font-family: Poppins;
    font-size: 1.8rem;
    line-height: 1;
}

.process__learn-more:hover {
    text-decoration: underline;
}

.process__desc {
    margin: 0 41px 0 175px;
    width: 572px;
}

.process__img {
    display: none;
    position: absolute;
    bottom: -30px;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

/* Video */
.video {
    margin-top: 112px;
    padding: 116px 0 63px;
    background-color: var(--secondary-color);
}

.video__row {
    justify-content: space-between;
}

.video__heading {
    width: 457px;
    color: #e7f9f9;
    flex-shrink: 0;
}

.video__heading-line {
    background: #83a17d;
}

.video__info {
    width: 590px;
}

.video__desc {
    color: #6a8383;
}

.browse {
    display: inline-flex;
    margin-top: 13px;
}

.browse:hover {
    text-decoration: underline;
    text-decoration-color: #ccc;
}

.browse__text {
    margin-right: 26px;
    color: #fff;
}

.video-body {
    position: relative;
    margin-top: 65px;
}

.video__src {
    border-radius: 22px;
    object-fit: cover;
}

.video-icon__head {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(80%) translateY(-90%) rotate(176.985deg);
}

.video-icon__body {
    position: absolute;
    top: -165px;
    right: -45px;
}

/* Feature */
.feature {
    padding: 70px 0;
    margin-top: 70px;
    text-align: center;
}

.feature__heading {
    display: block;
    margin: 0 auto;
    width: 520px;
}

.feature__desc {
    display: block;
    margin: 20px auto 0;
    width: 547px;
}

.feature-list {
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
}

.feature-item:hover {
    cursor: pointer;
    transform: translateY(-59px);
    border-radius: 160px;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__title {
    margin-top: 26px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature-item__desc {
    margin-top: 9px;
    width: 286px;
}

/* Blog */
.blog {
    padding: 57px 0;
    margin-top: 57px;
}

.blog__row {
    margin-top: 10px;
    justify-content: space-between;
}

.blog__title {
    line-height: 1.12;
}

.blog__heading {
    width: 560px;
}

.blog__desc {
    width: 409px;
    flex-shrink: 0;
}

.blog-list {
    margin-top: 90px;
    gap: 30px;
}

.blog-item {
    flex: 1;
    flex-shrink: 0;
    background-color: orange;
}

.blog-item:hover .blog-item__info {
    padding-right: 10px;
    padding-left: 30px;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__title {
    padding-right: 25px;
}

.blog-item__info {
    padding: 26px 0 12px;
    border-radius: 0px 0px 20px 20px;
}

.blog-item__thumb {
    border-radius: 40px 40px 0px 0px;
}

.blog-item__genre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background-color: var(--third-color);

    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.blog-item__title {
    width: 346px;
    margin-top: 13px;
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__day {
    text-align: right;
    margin-top: 16px;
    color: #575d5e;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}
